include: 'https://gitlab.gnome.org/GNOME/citemplates/raw/master/flatpak/flatpak_ci_initiative.yml'

stages:
- test
- deploy
- fedora

variables:
    BUNDLE: "gnome-boxes.flatpak"

flatpak:
    image: registry.gitlab.gnome.org/gnome/gnome-runtime-images/gnome:master
    variables:
        MANIFEST_PATH: "build-aux/flatpak/org.gnome.Boxes.json"
        FLATPAK_MODULE: "gnome-boxes"
        RUNTIME_REPO: "https://nightly.gnome.org/gnome-nightly.flatpakrepo"
        APP_ID: "org.gnome.BoxesDevel"
    extends: .flatpak

review:
    stage: deploy
    dependencies:
        - flatpak
    script:
        - echo "Generating flatpak deployment"
    extends: '.review'

stop_review:
    stage: deploy
    script:
        - echo "Stopping flatpak deployment"
    extends: '.stop_review'

nightly:
    extends: '.publish_nightly'

fedora:rawhide:
    image: fedora:rawhide
    stage: fedora
    before_script:
    - dnf update -y --nogpgcheck
    - dnf install -y meson git vala gtk3-devel
                     gtk-vnc2-devel libosinfo-devel libsecret-devel
                     libvirt-gconfig-devel libvirt-gobject-devel
                     spice-gtk3-vala libarchive-devel gettext
                     libgudev-devel webkitgtk4-devel libusbx-devel
                     tracker-devel libosinfo-vala freerdp-devel
                     python3-devel libxml2-devel vte291-devel
                     libhandy-devel
                     --nogpgcheck

    script:
        - meson _build .
        - ninja -C _build
