[submodule "subprojects/gtk-frdp"]
	path = subprojects/gtk-frdp
	url = https://gitlab.gnome.org/gnome/gtk-frdp.git

[submodule "subprojects/libovf-glib"]
	path = subprojects/libovf-glib
	url = https://gitlab.gnome.org/felipeborges/libovf-glib.git
[submodule "build-aux/flatpak/shared-modules"]
	path = build-aux/flatpak/shared-modules
	url = https://github.com/flathub/shared-modules.git
